    APP_ENV=development
    API_BASE_URL=http://localhost:8000

    DB_HOST=localhost
    DB_PORT=3306
    DB_NAME=uniia
    DB_USER=root
    DB_PASSWORD=12345

    JWT_SECRET_KEY=
    JWT_ALGORITHM=
    JWT_EXPIRATION_MINUTES=

    GEMINI_API_KEY=
    GEMINI_MODEL=