    APP_ENV=development
    API_BASE_URL=http://localhost:8000

    DB_HOST=localhost
    DB_PORT=3306
    DB_NAME=uniia
    DB_USER=root
    DB_PASSWORD=12345

    JWT_SECRET_KEY=9accc4455b0273692123e652d4d97da9c1d6dae252de044cfa04abd7da0f3c25
    JWT_ALGORITHM=HS256
    JWT_EXPIRATION_MINUTES=60

    GEMINI_API_KEY=AIzaSyCYb4xeMH6bBIQubtCYp3IiFbaysaBI7cI
    GEMINI_MODEL=gemini-2.5-flash